<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserReg</title>
    <link href="bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">UserReg</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <a href="/users/register" class="btn btn-primary">Add Users</a>

    <div th:switch="${users}">
        <h2 th:case="null">No Registered users</h2>
        <div th:case="*">
            <h2>Registered Users</h2>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Age</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userReg : ${users}">
                    <td th:text="${userReg.firstname}"></td>
                    <td th:text="${userReg.lastname}"></td>
                    <td th:text="${userReg.age}"></td>
                    <td th:text="${userReg.mobile}"></td>
                    <td th:text="${userReg.email}"></td>
                    <td><a th:href="@{/users/delete/{id}(id=${userReg.id})}" class="btn btn-danger">Delete</a> </td>
                    <td><a th:href="@{/users/editUser/{id}(id=${userReg.id})}" class="btn btn-success">Edit</a> </td>
                </tr>
                </tbody>
            </table>
        </div>

        <script src="bootstrap-4.0.0-dist/js/bootstrap.js">
        </script>

    </div>

</div>
</body>
</html>
